html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.15}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:0.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{-webkit-text-decoration-skip:objects;background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html {
  background-color: #131419;
  color: white;
  font-size: 10px;
}

.head {
  background-image: url("../res/img/tom-coe-426084-unsplash.jpg");
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo {
  display: inline-block;
  font-family: 'fairplay display', serif;
  margin: 20px;
}

p {
  color: #929AA2;
  font-size: 2.4rem; /* font-size = htmlBaseFont(10px)*2.4rem = 24px */
  margin: 0;
}

.navigation {
  width: 35%;
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.nav-item {
  color: #929AA2;
  display: inline-block;
  float: right;
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin-right: 3rem;
  text-transform: uppercase;
  transition: ease 0.2s;
}

.nav-item:first-child {
  margin-right: 0;
}

.nav-item:hover {
  border-bottom: 1px solid #929AA2;
  cursor:  pointer;
}

a {
  border: 1px solid transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.title {
  display: inline-block;
  margin-left: 20%;
  margin-top: 20%;
}

.iceland {
  color: black;
  display: inline-block;
  font-family: 'fairplay display', serif;
  font-size: 12rem;
  margin: 0;
}

.subheader {
  display: flex;
  flex-direction: row;
}

.line {
  height: 1px;
  background-color: #929AA2;
  margin: auto 0;
  width: 12%;
}

.subtitle {
  color: #929AA2;
  font-family: 'lato', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ice {
  width: 60%;
  margin: 0 auto;
}

.land {
  color: #B2B9C3;
  font-family: 'lato', sans-serif;
  font-size: 2.6rem;
  letter-spacing: 3px;
  margin: 0;
  padding: 67px 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.snow {
  font-family: 'playfair display', serif;
  font-size: 5rem;
  margin: 0;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}

.alex {
  max-width: 100%;
}

.martin {
  max-width: 100%;
}

.para {
  color: #B2B9C3;
  font-size: 2rem;
  padding: 10px 20px 20px 20px;
  /*line-height: 2;*/
  text-align: center;
}

.favourite-excursions {
  margin: 40px auto;
  width: 90%;
}

.favourite {
  color: #B2B9C3;
  font-family: 'lato';
  font-size: 2.6rem;
  text-transform: uppercase;
  margin: 0 auto;
  width:  60%;
  text-align: center;
}

.slide-image-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.slide-image-container {
  width: 50%;
  position: relative;
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.slide-image.slide-image--active {
  opacity: 1;
  pointer-events: initial;
}

.slide-image-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  /*margin-left: 5rem;*/
}

/*.excursions {
  margin-right: 15%;
}*/

ol {
  margin: 0;
  padding: 0;
}

.slide {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  cursor: pointer;
  color: #B2B9C3;
}

.slide.slide--active {
  color: white;
}

.slide a {
  /*line-height: 1.5;*/
  font-size: 2.4rem;
  margin: 20px 0;
}

.divider {
  height: 1px;
  background-color: #B2B9C3;
  margin: 20px 0;
}

.footer {
  background-color: #171717;
}

@media (max-width: 1119px) {
  .head {
    background-image: url("../res/img/tom-coe-426084-unsplash.jpg");
    background-position: left bottom;
    background-size: cover;
    height: 100vh;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }

  .logo {
    display: inline-block;
    font-family: 'fairplay display', serif;
    margin: 20px;
  }

  p {
    color: #929AA2
    font-size: 2.4rem;
    margin: 0;
  }

  .navigation {
    width: 35%;
  }

  ul {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    margin: 20px;
    padding: 0;
  }

  li {
    color: #929AA2;
    display: inline-block;
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    float: right;
    margin-bottom: 10px;
    border: 2px solid transparent;
  }

  /*&:hover {
    border-bottom: 2px solid #929AA2;
  }*/
  
  .title {
    display: inline-block;
    margin-left: 20%;
    margin-top: 20%;
  }

  .iceland {
    color: black;
    display: inline-block;
    font-family: 'fairplay display', serif;
    font-size: 12rem;
    margin: 0;
  }

  .subheader {
    display: flex;
    flex-direction: row;
  }

  .line {
    height: 1px;
    background-color: #B2B9C3;
    margin: auto 0;
    width: 12%;
  }

  .subtitle {
    color: #B2B9C3;
    font-family: 'lato', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .ice {
    width: 50%;
    margin: 0 auto;
  }

  .land {
    color: #B2B9C3;
    font-family: 'lato', sans-serif;
    font-size: 2.6rem;
    letter-spacing: 3px;
    margin: 0;
    padding: 136px 20px 0 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .snow {
    font-family: 'playfair display', serif;
    font-size: 5rem;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
  }

  .alex {
    max-width: 100%;
  }

  .martin {
    max-width: 100%;
  }

  .plant {
    color: #B2B9C3;
    font-size: 2rem;
    line-height: 2;
    text-align: center;
  }

  .slide-image-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin-top: 136px;
    width: 45%;
  }

  .favourite {
    color: #B2B9C3;
    font-family: 'lato';
    font-size: 2.6rem;
    text-transform: uppercase;
  }

  .excursions {
    margin-right: 10%;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    color: #B2B9C3;
    font-size: 2.6rem;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
  }

  img {
    max-width: 100%;
    display: none;
  }

  a {
    line-height: 1.5;
    margin: 20px 0;
  }

  .divider {
    height: 1px;
    background-color: #B2B9C3;
    margin: 20px 0;
  }
}